.container {
  display: flex;
  grid-area: actions;
  
  > * {
    display: flex;
  }
}

.lenslink {
  margin: 0 1.3rem;
}

.baglink {
  margin-left: 1.3rem;
  position: relative;
}

.cartAmount {
  position: absolute;
  top: -1.4rem;
  right: -1.3rem;
  font-weight: 500;
  font-family: Muli, sans-serif;
}
