$persian-rose: #ff1ead;
$malachite: #53dd6c;
$french-violet: #6622cc;
$wild-blue-yonder: #b8b8d1;

$ripple: $persian-rose;
$shadow: $malachite; 

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 12rem;
  padding-bottom: 6rem;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}

.preview {
  display: block;
  object-fit: contain;
  max-height: 50vh;
  width: 100%;
  justify-self: self-start;
  align-self: start;
}

.infoContainer {
  display: block;
  height: 100%;
  width: 100%;
  justify-self: center;
}

.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  & > * {
    font-size: 2.8rem;
    line-height: 1.16667;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: inherit;
    letter-spacing: 0.02em;
  }
}

.label {
  color: #9a9ea7;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin-bottom: .7rem;
  font-weight: 700;
}

.colorBox {
  display: inline-flex;
  align-items: center;
  border: 1px dotted #b8bdc5;
  height: 4.4rem;
  padding: 0 1.5rem;
  border-radius: 3px;
  margin-right: 1rem;
}

.colorCircle {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 40%);
  background-color: rgb(255, 213, 213);
}

.sizeListing {
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

// .dropdownButton {
//   width: 100%;
//   height: 4.4rem;
//   min-width: 7rem;
//   display: flex;
//   align-items: center;
//   padding: 0 20px 0 10px;
//   border-radius: 0;
//   border: 1px solid #D8DAE0;
//   background-color: transparent;
//   cursor: pointer;
// }

.dropdown {
  position: relative;
  display: flex;
  margin-right: 2rem;
}

.dropdownSelect {
  pointer-events: auto;
  cursor: pointer;

  width: 100%;
  height: 4.4rem;
  display: flex;
  align-items: center;
  padding: 0 20px 0 10px;
  border-radius: 0;
  border: 1px solid #D8DAE0;
  background-color: transparent;

  min-width: 7rem;
  font-size: 1.6rem;
  color: black;
  line-height: 1;

  &:focus {
    outline: none;
  }

}

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.submitButton {
  height: 4.4rem;
  padding: 0 35px;
  font-weight: 700;
  cursor: auto;
  flex: 1 1 ;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 32, 32);
  border-color: rgb(33, 32, 32);
  font-family: Muli, sans-serif;
  font-size: 1.6rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  user-select: none;
  outline: 0;
  box-shadow: 0 0 0 0 rgba($shadow, 0.5);
	transition: box-shadow 150ms ease-out;
	&:hover {
		box-shadow: 0 0 0 8px rgba($shadow, 0.5);
	}
 
}

.ripple {
  background-color: $ripple;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 2.3rem;
	height: 2.3rem;
  mix-blend-mode: screen;
  animation: 
            ripple 1500ms ease-out forwards, 
            fade 2000ms ease-out forwards;
}

@keyframes ripple {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(50)
  }
}

@keyframes fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
