.container {
  $clr: #606060;
  font-family: Muli, sans-serif;
  border-bottom: 1px solid $clr;
  color: $clr;
  stroke: $clr;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.title {
  color: inherit;
  font-weight: 700;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  stroke: inherit;

  &:hover{ 
    color: black;
    stroke: black;
  }
}

.content {
  overflow: hidden;
  transition: opacity .2s ease-in-out, height .2s ease-in-out;
  line-height: 1.6;
  opacity: 0;
  height: 0;
}

.plus {
  stroke: inherit;
}