.cont {
  display: flex;
  margin: 0 auto;
  width: 80%;
  flex-wrap: wrap;
  margin-bottom: 12rem;
}

.loading {
  font-size: 20rem;
  font-weight: 1000;
  position: relative;
  top: 50%;
  left: 10%;
}