.container {

  span {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  .divideLine {
    width: 100%;
    opacity: .15;
    height: 1px;
    background-color: #6c7478;
  }
}