.panel {
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--black);
  width: 100%;
  font-size: 1.4rem;
  position: fixed;

  z-index: 2;
}

.container {
  display: grid;
  grid-template-columns: auto minmax(0px, 1fr) auto;
  grid-template-areas: "logo menuitems actions";
  > * {
    align-self: center;
  }

  span {
    color: white;
    font-size: 1.6rem;
    font-style: Muli, sans-serif;
    padding-right: 1.6rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    
    &:hover {
      font-weight: 700;
    }
  }
}

.logo {
  max-height: 44px;
  width: auto;
  grid-area: logo;
  display: flex;
  align-items: center;
  object-fit: fill;

  &::selection {
    background-color: transparent;
  }
}

.menucontainer {
  grid-area: menuitems;
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
  padding-right: 1.5rem;
  margin-right: 1.3rem;

  &:not(:first-child) {
    margin-left: 1.5rem;
  }

  &:after {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 37%;

    content: "";
    height: 1.2rem;
    border-right-width: 1px;
    border-right-style: solid;
    color: white;
  }
}

.messageAnchor{
  position: absolute;
  left: 35%;
}


.buttonLogin {
  font-size: 1.6rem;
  font-style: Muli, sans-serif;
  color: white;
  &:hover {
    font-weight: 700;
  }

  width: 91px;

  padding: .8rem 1.6rem;
}
  
.buttonSignup {
  @extend .buttonLogin;
  // padding: 1.2rem 2rem;
  color: white; 
  // background-color: black;
  // border-radius: 1rem;
  // font-weight: bold;

}