.panel {
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--black);
  width: 100%;
  font-size: 1.4rem;
  position: fixed;
}

.container {
  display: grid;
  grid-template-columns: auto minmax(0px, 1fr) auto;
  grid-template-areas: "logo menuitems actions";
  > * {
    align-self: center;
  }
}

.logo {
  max-height: 44px;
  width: auto;
  grid-area: logo;
  display: flex;
  align-items: center;
  object-fit: fill;
}

.menucontainer {
  grid-area: menuitems;
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
  padding-right: 1.5rem;
  margin-right: 1.3rem;

  &:not(:first-child) {
    margin-left: 1.5rem;
  }

  &:after {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 37%;

    content: "";
    height: 1.2rem;
    border-right-width: 1px;
    border-right-style: solid;
    color: white;
  }
}