$persian-rose: #ff1ead;
$malachite: #53dd6c;
$french-violet: #6622cc;
$wild-blue-yonder: #b8b8d1;

$shadow: $french-violet; 


.container {
  position: absolute;
  padding: 2rem 4.5rem 2rem 1.5rem;
  background-color: #fff;

  font-size: 1.5rem;
  font-weight: 100;
  color: #000;
  text-align: left;
  white-space: nowrap;
  text-transform: uppercase;

  top: 5rem;

  
  li {
    position: relative;
    border-bottom: 2px solid transparent;
    transform: tran;
    &:hover {
      
      animation: showLine .3s ease-in forwards;
    }
    &:focus{
      color: red;
    }

  }
}

@keyframes showLine {
  from {
    width: 0;
    border-color: $french-violet;
  }

  to {
    width: 100%;
    border-color: $french-violet;
  }

  
}

.listContainer {
  :not(:last-child) {
    margin-bottom: 2.7rem;
  }
}