.container {
  text-align: center;
  padding: 8rem 0 5rem;
}

.header {
  font-size: 2.8rem;
  line-height: 1.16;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.02em;
}