$valid-background-color: #e8f0fe;

.container {
  input {
    font-size: 1.6rem;
    width: 100%;
    border: 1px solid #d8dae0;
    margin-bottom: 2rem;
    padding: 1.1rem 1.4rem;
    color: #0a0918;
    border-radius: 2px;
    transition: border-color .15s, background-color .15s;
    outline: none;

    &:focus {
      border-color: rgb(0, 202, 202);

      &:invalid {
        border-color: red;
      }
    }

    &:invalid {
      border-color: red;
    }

  }
}