.hero {
  padding: 0;
  width: 100%;
  max-height: 600px;
}

.titlecont {
  text-align: center;
  padding: 8rem 0 5rem;
}

.text {
  font-size: 2.8rem;
  line-height: 1.16;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.02em;
}